body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: linear-gradient(to right top, #800080, #670778, #4f0a6e, #370b63, #1e0a57);

  user-select: none;
}
 
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
}
 
h2 {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}
 
.reset {
  padding: 15px 20px;
  width: 100%;
  color: #000;
  background-color: #ffffff;
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}
 
.reset:focus {
  color: #ffffff;
  background-color: #1e0a57;
}
 
.game {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}
 
.item {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
}
 
.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #1e0a57;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}
 
.item.boxOpen {
  transform: rotateY(0deg);
}
 
.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}

@media screen and (min-width: 640px) {
  body {
    background: #500969;;
  }
  .container {
    background: linear-gradient(to right top, #800080, #7c229b, #7038b6, #574bd1, #125eeb);
    gap: 30px;
    padding: 40px 60px;
  }

  .game {
    width: 430px;
    height: 430px;
    display: flex;
  }

  .item {
    width: 100px;
    height: 100px;
  }
}

